# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/


# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo


# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/


# ==============================
# VS Code
# ==============================

.vscode/


# ==============================
# Environment / Secrets
# ==============================

.env
*.env


# ==============================
# Raw Dataset
# ==============================

data/raw/


# ==============================
# Temporary / Log Files
# ==============================

*.tmp
*.log


# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db